*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: inherit;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    background-image:url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.header__top{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    height: 60px;;
}


.header__ul{
    display:flex;
}

.header__li,a{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    padding:0 14px;;
    color:white;
    text-decoration: none;
    font-size: 16px;
}

.header__text{
    font-family: 'Exo 2', sans-serif;
    font-size: 66px;
    text-align: center;
    align-items: center;
    color:#fff;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 15%);
    font-weight: 800;
    margin-top: 150px;
}

.header__description{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color:#fff;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 15%);
    margin-top:30px;
    margin-bottom: 24px;
}


/* Начало main контента */

#services{
    height: 759px;
    background-color: #F9F9F9;
    margin-bottom: 60px;
}

.services__title{
    font-size: 36px;
    font-family: 'Exo 2', sans-serif;
    color:#333;
    text-align: center;
    padding-top: 60px;
    margin:0;
}

.services__card{
    background-position: center;
    object-fit: cover;
}

.services__cards{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 95px;
}

.services__card--text,.services__card--desc,.services__card--price{
    text-align: center;
}

.about__button{
    /* transition: all 2.s ease-in-out; */
    border-radius: 20px;
    background-color: #8bc34a;
    position: relative;
    left: 26%;
    height: 40px;
    padding:0 22px;
    margin:5px auto;
    color:white;
    line-height: 40px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: normal;
    font-family: 'Roboto', sans-serif;
}

.about__button:hover{
    background-color: gray;
    color:#F9F9F9;
    transition: all 3.s ease-out;
}

.services__card--img{
    width: 350px;
    height: 250px;
}

.services__card--left,.services__card--right,.services__card--middle{
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding:0px;
    max-height: 505px;
}
.services__card--img{
    border: 1px solid #E5E5E5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card__box{
    padding: 0px;
    padding-bottom:30px;
}

.services__card--text{
    font-size:26px;
    font-weight: 400;
    font-family: 'Exo 2', sans-serif !important;
    color:#333;
    margin-bottom: 10px;
}

.services__card--desc{
margin-top: 5px;
font-weight: 300;
text-align: center;
font-size: 18px;
font-family: 'Roboto', sans-serif;
color:#222;
line-height: 1.5;
letter-spacing: 0px;
text-transform: none;
}

.services__card--price{
    font-weight: bold;
    line-height: 1.8;
    margin-top: 10px;
    color:#666;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
}